@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  /* to make navbar sticky */
  position: sticky;
  top: 0;
  /* general */
  color: white;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
  margin-bottom: 25px;
}

#logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

#logo p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
}

#logo img {
  width: 50px;
  height: 50px;
}

nav > #search-box {
  width: 40%;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
}

nav > #search-box button {
  border-radius: 20px;
  font-size: 15px;
  background-color: white;
  border: none;
  margin-left: 15px;
}

nav #search-box input {
  width: 85%;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: none;
}

#links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#links a {
  text-decoration: none;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
}

#links a:nth-child(1):hover {
  border-bottom: 1px solid white;
}

#links > button {
  color: #151515;
  background-color: white;
  font-size: 18px;
  padding: 11px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
}

#links > button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
}

/* end of nav bar */

/* course title */
#title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

#title span{
  font-family: "Darker Grotesque", sans-serif;
  color: #af9fff;
  border-bottom: 3px solid #af9fff;
}
/* end of course title */

/* filter component */
#filter {
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
  margin-bottom: 30px;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}

.custom-select {
  padding: 13px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 500;
  outline: none;
  text-align: center;
}

.custom-select option {
  border-radius: 5px;
  padding: 5px;
}
/* end of filter component */

/* courses grid */
#course-wrapper {
  min-height: 45vh;
}

#course-grid {
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

#course-grid .card {
  /* background-color: #F4F3EC; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#course-grid .card img {
  border-radius: 10px;
}

#course-grid .card h2 {
  font-family: "Darker Grotesque", sans-serif;
  line-height: 1;
}

#course-grid .card img {
  width: 100%;
}

#course-grid .card :nth-child(3) {
  color: #7b7b7b;
}

#course-grid .card :nth-child(5) {
  font-weight: bold;
}

#course-grid .card button {
  color: white;
  background-color: #af9fff;
  font-size: 18px;
  padding: 8px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#course-grid .card .added-button {
  /* background-color: #808080; */
  background-color: #905171;
}

#course-grid .card button:hover {
  /* color: white;
  background-color: #af9fff; */
  cursor: pointer;
}

#rate {
  font-weight: bold;
  font-size: 20px;
  color: #b4690e;
}

.fa-solid.fa-star, .fa-solid.fa-star-half-stroke {
  font-size: 13px;
}
/* end of courses grid */

/* footer */
footer {
  color: white;
  background-color: #151515;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
}

footer > #contact {
  display: flex;
  margin: 20px 0 ;
  text-decoration: none;
}

footer > #contact > p > a {
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s ease;
}

footer a:hover {
  border-bottom: 1px solid white;
}

footer > #extra {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer > #extra * {
  display: flex;
  font-size: 20px;
} 

footer #extra > #logo {
  gap: 15px;
  padding: 5px;
}

footer #terms {
  gap: 25px;
  justify-content: space-around;
}

#logo > img {
  width: 50px;
  height: 50px;
}

footer #developer span{
  color: red;
  margin-left: 3px;
}
/* end of footer */

/* --------------------------------------- */

/* Media Queries */

@media only screen and (max-width: 1204px) {
  nav p {
    display: none;
  }

  nav > #search-box {
    width: 45%;
  }

  #links > button {
    padding: 9px;
  }

  #course-grid {
    width: 80%;
  }
}

@media only screen and (max-width: 1110px) {
  #course-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 55%;
  }
}

@media only screen and (max-width: 1024px) {
  footer > #contact {
    justify-content: center;
  }

  footer > #extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /* flex-wrap: wrap; */
  }
  footer #extra #logo {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  footer #terms {
    justify-content: center;
    gap: 50px;
  }

  footer #developer {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 990px) {
  nav {
    font-size: 25px;
  }

  nav > #search-box {
    width: 50%;
  }

  #links {
    width: 35%;
  }

  #links > button {
    padding: 8px;
  }

  #course-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 63%;
  }
}

@media only screen and (max-width: 880px) {
  #course-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
}

@media only screen and (max-width: 728px) {
  nav {
    font-size: 20px;
    justify-content: space-around;
  }
  
  nav > #search-box {
    width: 60%;
  }

  #links {
    display: none;
  }

  #links > button {
    padding: 8px;
  }

  #course-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}

@media only screen and (max-width: 615px) {
  #title {
    font-size: 40px;
  }

  #course-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 55%;
  }
}

@media only screen and (max-width: 550px) {
  nav > #search-box {
    width: 70%;
  }

  nav #search-box input {
    width: 70%;
  }

  footer {
    padding: 5px 10px;
  }

  footer > #contact {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  footer > #extra {
    gap: 10px;
    /* flex-wrap: wrap; */
  }
  footer #extra #logo {
    gap: 40px;
  }

  footer #terms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer #developer {
    justify-content: center;
  }

}

@media only screen and (max-width: 499px) {

  #course-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 65%;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    justify-content: space-between;
  }

  nav > #search-box {
    width: 80%;
    margin-left: 10px;
  }

  nav #search-box input {
    width: 70%;
  }

  #filter {
    gap: 10px;
    font-size: 17px;
  }
  
  .custom-select {
    padding: 10px;
  }
  
  .custom-select option {
    border-radius: 5px;
    padding: 5px;
  }

  #course-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}