@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  /* to make navbar sticky */
  position: sticky;
  top: 0;
  /* general */
  color: white;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
}

#logo {
  display: flex;
  gap: 10px;
}

#logo img {
  width: 50px;
  height: 50px;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#links a {
  text-decoration: none;
  color: white;
}

#links a:nth-child(1):hover {
  border-bottom: 1px solid white;
}

#links button {
  color: #151515;
  background-color: white;
  font-size: 18px;
  padding: 11px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
}

#links button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
  text-decoration: none;
}
/* end of nav bar */

/* container-1 */
#container-1 {
  /* border: 1px solid blue; */
  display: flex;
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  justify-content: center;
  padding: 50px 20px;
}

#container-1 > div:nth-child(1) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

#container-1 > div:nth-child(2) {
  width: 40%;
}

#container-1 h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: .7;
}

#container-1 p {
  font-family: "DM sans", sans-serif;
  font-size: 18px;
}

#container-1 button {
  color: #151515;
  background-color: white;
  font-size: 18px;
  padding: 9px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
  margin-right: 215px;
}

#container-1 button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
}

#container-1 img {
  width: 100%;
  border-radius: 15px;
}
/* end of container-1 */

/* features carousel */
#wrapper {
  position: relative;
  padding: 100px 120px;
  margin: auto;
}

#carousel {
  display: flex;
  overflow: hidden;
  gap: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  /* width: calc(990px/3); */
}

.card > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 70px;
  margin-bottom: 10px;
}
.card > img:first-child {
  margin-left: 3px;
}

.card > p {
  margin: 0 32px;
  line-height: 1.1;
}

#leftArrow, #rightArrow {
  top: 50%;
  position: absolute;
  padding: 20px;
  background-color: #151515;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  transform: translateY(-60%);
}

#leftArrow {
  left: 40px;
}

#rightArrow {
  right: 40px;
}
/* end of features carousel */

/* Large mid section */
#mid-section {
  padding: 80px;
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 140px;
  text-align: center;
  line-height: 0.7;
}

#mid-section > .wrapper {
  margin: 50px;
}

#mid-section > .wrapper > div:nth-child(3) {
  display: flex;
  margin-left: 105px;
}

#mid-section > .wrapper > div:nth-child(3) > img {
  border-radius: 50%;
  margin-top: 30px;
}

#gif2 {
  z-index: 2;
}
/* end of Large mid section */

/* student review carousel */
/* @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

#student-wrapper {
  padding: 80px;
}

#student-wrapper > h2 {
  font-size: 60px;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#student-wrapper > h2 > span {
  color: #af9fff;
}

#student-carousel {
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1;
  width: 90%;
  margin: auto;
  /* animation: 15s slide infinite linear; */
}

#student-carousel > .cards {
  width: 23%;
  padding: 20px;
  border-radius: 50px;
  background-color: #F4F3EC;
}

#student-carousel > .cards > p {
  margin-top: 20px;
}

#student-carousel > .cards > p:nth-child(3) {
  color: #7b7b7b;
}

#student-carousel > .cards > div > img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  object-fit: cover;
}

/* end of student review carousel */

/* footer */
footer {
  color: white;
  background-color: #151515;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
}

footer > #contact {
  margin: 20px 0 ;
  text-decoration: none;
}

footer > #contact > p > a {
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s ease;
}

footer a:hover {
  border-bottom: 1px solid white;
}

footer > #extra {
  display: flex;
  justify-content: space-between;
}

footer > #extra * {
  display: flex;
  font-size: 20px;
} 

footer #extra > #logo {
  gap: 15px;
  padding: 5px;
}

footer #terms {
  gap: 25px;
  justify-content: space-around;
}

#logo > img {
  width: 50px;
  height: 50px;
}

footer #developer span{
  color: red;
  margin-left: 3px;
}
/* end of footer */