@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  /* to make navbar sticky */
  position: sticky;
  top: 0;
  /* general */
  color: white;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
}

#logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

#logo img {
  width: 50px;
  height: 50px;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#links a {
  text-decoration: none;
  color: white;
}

#links a:nth-child(1):hover, a:nth-child(2):hover {
  border-bottom: 1px solid white;
}

#links button {
  color: #151515;
  background-color: white;
  font-size: 18px;
  padding: 11px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
}

#links button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
  text-decoration: none;
}
/* end of nav bar */

/* container-1 */
#container-1 {
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  justify-content: center;
  padding: 50px 0;
}

#container-1 .card {
  display: flex;
  /* width: 80%; */
  margin: auto;
  gap: 15px;
  justify-content: center;
}

#container-1 .card div:nth-child(1) {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  gap: 15px;
}

#container-1 .card div:nth-child(2) {
  width: 40%;
  display: flex;
  align-items: center;
}

#container-1 h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: .7;
}

#container-1 p {
  font-family: "DM sans", sans-serif;
  font-size: 18px;
}

#container-1 button {
  color: #151515;
  background-color: white;
  font-size: 18px;
  padding: 9px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: none;
}

#container-1 button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
}

#container-1 img {
  width: 100%;
  border-radius: 15px;
}
/* end of container-1 */

/* features carousel */
#wrapper {
  position: relative;
  padding: 100px 120px;
  margin: auto;
}

#carousel {
  display: flex;
  overflow: hidden;
  gap: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.card > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 70px;
  margin-bottom: 10px;
}
.card > img:first-child {
  margin-left: 3px;
}

.card > p {
  margin: 0 32px;
  line-height: 1.1;
}

#leftArrow, #rightArrow {
  top: 50%;
  position: absolute;
  padding: 20px;
  background-color: #151515;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  transform: translateY(-60%);
}

#leftArrow {
  left: 40px;
}

#rightArrow {
  right: 40px;
}
/* end of features carousel */

/* Large mid section */
#mid-section {
  padding: 50px 0 90px 0;
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 140px;
  text-align: center;
  line-height: 0.7;
  width: 100%;
}

#mid-section > .wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#mid-section .wrapper div {
  display: flex;
  justify-content: center;
  align-items: end;
}

#mid-section .wrapper div img {
  width: 140px;
  border-radius: 50%;
  position: relative;
  transform: translateY(24px);
  max-width: 140px;
}

/* end of Large mid section */

/* student review carousel */

#student-wrapper {
  padding: 80px 0 80px 0;
}

#student-wrapper > h2 {
  font-size: 60px;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#student-wrapper > h2 > span {
  color: #af9fff;
}

#student-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1;
  width: 80%;
  margin: auto;
  /* animation: 15s slide infinite linear; */
}

#student-carousel > .cards {
  /* width: 23%; */
  padding: 20px;
  border-radius: 50px;
  background-color: #F4F3EC;
}

#student-carousel > .cards > p {
  margin-top: 20px;
}

#student-carousel > .cards > p:nth-child(3) {
  color: #7b7b7b;
}

#student-carousel > .cards > div > img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  object-fit: cover;
}

/* end of student review carousel */

/* footer */
footer {
  color: white;
  background-color: #151515;
  padding: 12px 40px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
}

footer > #contact {
  display: flex;
  margin: 20px 0 ;
  text-decoration: none;
}

footer > #contact > p > a {
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s ease;
}

footer a:hover {
  border-bottom: 1px solid white;
}

footer > #extra {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer > #extra * {
  display: flex;
  font-size: 20px;
} 

footer #extra > #logo {
  gap: 15px;
  padding: 5px;
}

footer #terms {
  gap: 25px;
  justify-content: space-around;
}

#logo > img {
  width: 50px;
  height: 50px;
}

footer #developer span{
  color: red;
  margin-left: 3px;
}
/* end of footer */

/* ------------------------------------------ */

/* Media Queries */

@media only screen and (max-width: 1204px) { 
  #container-1 .card div:nth-child(1) {
    width: 27%; 
  }
  
  #container-1 .card div:nth-child(2) {
    width: 45%;
  }

  #student-carousel {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 19px;
    font-weight: 500;
    line-height: 1;
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 1037px) {
  #container-1 .card div:nth-child(2) {
    width: 45%;
  }
  
  #container-1 h1 {
    font-size: 60px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 15px;
  }
  
  #container-1 button {
    color: #151515;
    background-color: white;
    font-size: 15px;
    padding: 7px;
  }

  #mid-section {
    padding: 50px 0 90px 0;
    font-size: 120px;
    line-height: 0.7;
    width: 100%;
  }

  #mid-section .wrapper div img {
    width: 120px;
  }

  #student-carousel {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  footer > #contact {
    justify-content: center;
  }
  footer > #extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /* flex-wrap: wrap; */
  }
  footer #extra #logo {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  footer #terms {
    justify-content: center;
    gap: 50px;
  }

  footer #developer {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 838px) {
  nav {
    font-size: 25px;
  }

  nav p {
    display: none;
  }

  #links button {
    padding: 8px;
  }

  #container-1 .card div:nth-child(1) {
    width: 28%;
  }

  #container-1 .card div:nth-child(2) {
    width: 55%;
  }
  
  #container-1 h1 {
    font-size: 50px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 15px;
  }
  
  #container-1 button {
    color: #151515;
    background-color: white;
    font-size: 15px;
    padding: 7px;
  }

  #mid-section {
    padding: 30px 0 70px 0;
    font-size: 100px;
    line-height: 0.7;
    width: 100%;
  }

  #mid-section .wrapper div img {
    width: 100px;
  }

  #student-wrapper {
    padding: 50px 0 50px 0;
  }

  #student-carousel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 692px) {
  #container-1 {
    padding: 30px 0;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container-1 .card div:nth-child(1) {
    width: 70%;
    text-align: center;
  }

  #container-1 .card div:nth-child(2) {
    width: 55%;
  }
  
  #container-1 h1 {
    font-size: 50px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 15px;
  }
  
  #container-1 button {
    color: #151515;
    background-color: white;
    font-size: 15px;
    padding: 7px;
  }

  #links {
    width: 70%;
  }

  #mid-section {
    padding: 30px 0 70px 0;
    font-size: 80px;
    line-height: 0.7;
    width: 100%;
  }

  #mid-section .wrapper div img {
    width: 100px;
  }

  #student-wrapper {
    padding: 50px 0 50px 0;
  }

  #student-wrapper > h2 {
    font-size: 45px;
    margin-bottom: 25px;
  }

  #student-carousel {
    grid-template-columns: repeat(1, 1fr);
    font-size: 17px;
    gap: 15px;
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  nav {
    font-size: 25px;
  }

  #links {
    width: 80%;
  }

  #links button {
    padding: 7px;
  }

  #container-1 {
    padding: 25px 0;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container-1 .card div:nth-child(1) {
    width: 80%;
    text-align: center;
  }

  #container-1 .card div:nth-child(2) {
    width: 57%;
  }
  
  #container-1 h1 {
    font-size: 45px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 14px;
  }
  
  #container-1 button {
    color: #151515;
    background-color: white;
    font-size: 15px;
    padding: 7px;
  }

  #mid-section {
    padding: 30px 0 70px 0;
    font-size: 50px;
    line-height: 1;
    width: 100%;
  }

  #mid-section .wrapper div img {
    width: 70px;
    transform: translateY(12px);
  }

  #student-wrapper {
    padding: 50px 0 50px 0;
  }

  #student-wrapper > h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  #student-carousel {
    grid-template-columns: repeat(1, 1fr);
    font-size: 17px;
    gap: 15px;
    width: 70%;
  }

  footer {
    padding: 5px 10px;
  }

  footer > #contact {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  footer > #extra {
    gap: 10px;
    /* flex-wrap: wrap; */
  }
  footer #extra #logo {
    gap: 40px;
  }

  footer #terms {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer #developer {
    justify-content: center;
  }

}

@media only screen and (max-width: 406px) {
  #links {
    justify-content: space-between;
    width: 60%;
  }

  #links button {
    display: none;
  }

  #container-1 {
    padding: 25px 0;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container-1 .card div:nth-child(1) {
    width: 90%;
    text-align: center;
  }

  #container-1 .card div:nth-child(2) {
    width: 60%;
  }
  
  #container-1 h1 {
    font-size: 42px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 13px;
  }
  
  #container-1 button {
    font-size: 15px;
    padding: 6px;
  }

  #mid-section {
    padding: 20px 0 50px 0;
  }
}

@media only screen and (max-width: 320px) {
  #container-1 {
    padding: 25px 0;
  }

  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container-1 .card div:nth-child(1) {
    width: 96%;
    text-align: center;
  }

  #container-1 .card div:nth-child(2) {
    width: 60%;
  }
  
  #container-1 h1 {
    font-size: 40px;
  }
  
  #container-1 p {
    font-family: "DM sans", sans-serif;
    font-size: 14px;
  }
  
  #container-1 button {
    font-size: 15px;
    padding: 6px;
  }

  #mid-section {
    padding: 20px 0 40px 0;
    font-size: 30px;
    line-height: 1;
    width: 100%;
  }

  #mid-section .wrapper div img {
    width: 50px;
    transform: translateY(7px);
  }

  #student-wrapper {
    padding: 50px 0 50px 0;
  }

  #student-wrapper > h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  #student-carousel {
    grid-template-columns: repeat(1, 1fr);
    font-size: 17px;
    gap: 15px;
    width: 90%;
  }
}

