@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
  font-size: 16px;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  /* to make navbar sticky */
  position: sticky;
  top: 0;
  /* general */
  color: white;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  z-index: 3;
}

#logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#logo img {
  width: 50px;
  height: 50px;
}

#links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#links a {
  text-decoration: none;
  color: white;
}

#links a:nth-child(1):hover, a:nth-child(2):hover {
  border-bottom: 0.06rem solid white;
}

#links button {
  color: #151515;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 1rem;
  border: none;
}

#links button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
  text-decoration: none;
}
/* end of nav bar */

/* container-1 */
#container-1 {
  /* border: 1px solid blue; */
  display: flex;
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  justify-content: center;
  padding: 3.1rem 1.25rem;
  gap: 0.7rem;
}

#container-1 > div:nth-child(1) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  gap: 0.9rem;
}

#container-1 > div:nth-child(2) {
  width: 40%;
}

#container-1 h1 {
  font-size: 4.37rem;
  font-weight: 600;
  line-height: 0.7;
}

#container-1 p {
  font-family: "DM sans", sans-serif;
  font-size: 1.12rem;
}

#container-1 button {
  color: #151515;
  background-color: white;
  font-size: 1.12rem;
  padding: 0.56rem;
  font-family: "DM Sans", sans-serif;
  border-radius: 0.93rem;
  border: none;
}

#container-1 button:hover {
  color: white;
  background-color: #af9fff;
  cursor: pointer;
}

#container-1 img {
  width: 100%;
  border-radius: 0.93rem;
}
/* end of container-1 */

/* features carousel */
#wrapper {
  position: relative;
  padding: 6.25rem 7.5rem;
  margin: auto;
}

#carousel {
  display: flex;
  overflow: hidden;
  gap: 1.87rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

.card > img {
  height: 15.62rem;
  width: 15.62rem;
  object-fit: cover;
  border-radius: 4.37rem;
  margin-bottom: 0.62rem;
}

.card > img:first-child {
  margin-left: 0.18rem;
}

.card > p {
  margin: 0 0.12rem;
  line-height: 1.1;
}

#leftArrow, #rightArrow {
  top: 50%;
  position: absolute;
  padding: 1.25rem;
  background-color: #151515;
  border-radius: 50%;
  font-size: 1.56rem;
  cursor: pointer;
  transform: translateY(-60%);
}

#leftArrow {
  left: 2.5rem;
}

#rightArrow {
  right: 2.5rem;
}
/* end of features carousel */

/* Large mid section */
#mid-section {
  padding: 5rem 0;
  background-color: #151515;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 8.75rem;
  text-align: center;
  line-height: 0.7;
}

#mid-section > .wrapper {
  display: flex;
  flex-direction: column;
  margin: 3.12rem;
}

#mid-section .wrapper div:nth-child(3) {
  display: flex;
  justify-content: center;
}

#mid-section .wrapper div:nth-child(3) img {
  border-radius: 50%;
  margin-top: 1.87rem;
}

#gif2 {
  z-index: 2;
}
/* end of Large mid section */

/* student review carousel */

#student-wrapper {
  padding: 5rem;
}

#student-wrapper > h2 {
  font-size: 3.75rem;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  margin-bottom: 1.875rem;
}

#student-wrapper > h2 > span {
  color: #af9fff;
}

#student-carousel {
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-size: 1.188rem;
  font-weight: 500;
  line-height: 1;
  width: 90%;
  margin: auto;
  /* animation: 15s slide infinite linear; */
}

#student-carousel > .cards {
  width: 23%;
  padding: 1.25rem;
  border-radius: 3.125rem;
  background-color: #F4F3EC;
}

#student-carousel > .cards > p {
  margin-top: 1.25rem;
}

#student-carousel > .cards > p:nth-child(3) {
  color: #7b7b7b;
}

#student-carousel > .cards > div > img {
  width: 4.563rem;
  height: 4.563rem;
  border-radius: 50%;
  object-fit: cover;
}

/* end of student review carousel */

/* footer */
footer {
  color: white;
  background-color: #151515;
  padding: 0.75rem 2.5rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  z-index: 3;
}

footer > #contact {
  margin: 1.25rem 0 ;
  text-decoration: none;
}

footer > #contact > p > a {
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s ease;
}

footer a:hover {
  border-bottom: 0.063rem solid white;
}

footer > #extra {
  display: flex;
  justify-content: space-between;
}

footer > #extra * {
  display: flex;
  font-size: 1.25rem;
} 

footer #extra > #logo {
  gap: 0.938rem;
  padding: 0.313rem;
}

footer #terms {
  gap: 1.563rem;
  justify-content: space-around;
}

#logo > img {
  width: 3.125rem;
  height: 3.125rem;
}

footer #developer span{
  color: red;
  margin-left: 0.188rem;
}
/* end of footer */

/* media query for tablets */
@media only screen and (min-width: 436px) and (max-width: 1023px) {
  html {
    font-size: 13px;
  }
  #mid-section {
    font-size: 6rem;
  }
}

/* media query for mobile */